@import "tailwindcss";

@keyframes hero-fade {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-hero-fade {
  animation: hero-fade 1s ease-out;
}

@keyframes hero-p-fade {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(3);
  }
}

.animate-hero-p-fade {
  animation: hero-fade 1s ease-out forwards;
}

@keyframes contact-btn-fade {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-contact-btn-fade {
  animation: contact-btn-fade 0.8s ease-out;
}

/* Mobile gap between Hero section and About Me section */
@media (max-width: 640px) {
  #home {
    margin-bottom: 2rem; /* Adjust gap size as needed */
  }
}
